{{ $name := .Get "src" }}
{{ $extention := .Get "ext" | default "png" }}
{{ $alt := .Get "alt" }}
{{ $width := .Get "width" | default "auto" }}
{{ $minipath := printf "/static/images/%s.%s" .Page.File.ContentBaseName $name $extention }}
{{ $path := printf "content%s.webp" $minipath }}
{{- if (fileExists $path) -}}
    <picture>
        <source type="image/webp" srcset="{{ $minipath }}.webp">
        <img src="{{ $minipath }}" width={{ $width }} 
        alt={{ $alt }} title={{ $alt }}/>
    </picture>
{{- else -}}
    <img src="{{ $minipath }}" width={{ $width }}
    alt={{ $alt }} title={{ $alt }}/>
{{- end -}}

